{% extends 'base.html' %}
{% block content %}
<main>
    <section class="hero">
        <div class="white-line">
            <div class="hero-identity">
                <h1>{{ name }}</h1>
            </div>
        </div>
        <div class="hero-photo">
            <div class="photo-block">
                <img class="avatar" src="/static/img/AwalKampus.jpeg">
                <img class="avatar" src="/static/img/BurhanAseli.jpeg">
                <img class="avatar" src="/static/img/KenazGanteng.jpg">
                <img class="avatar" src="/static/img/PandaLBM.jpeg">
                <img class="avatar" src="/static/img/Racing.jpeg">
            </div>
            <div aria-hidden class="photo-block">
                <img class="avatar" src="/static/img/AwalKampus.jpeg">
                <img class="avatar" src="/static/img/BurhanAseli.jpeg">
                <img class="avatar" src="/static/img/KenazGanteng.jpg">
                <img class="avatar" src="/static/img/PandaLBM.jpeg">
                <img class="avatar" src="/static/img/Racing.jpeg">
            </div>
        </div>
        <hr class="line">
        <div class="hero-details">
            <p class="GetToKnowMe"><b>Get to know me!</b></p>
            <p class="bio">{{ bio }}</p>
            <dl class="meta-list">
                <div class="meta-row">
                    <dt><b>NPM</b></dt>
                    <dd>"{{ npm }}"</dd>
                </div>
                <div class="meta-row">
                    <dt><b>Program</b></dt>
                    <dd>"{{ study_program }}"</dd>
                </div>
            </dl>
        </div>
    </section>
</main>

{% endblock content %}