{% extends 'base.html' %}
{% block content %}
<main>
    <section class="hero">
        <div class="white-line">
            <div class="hero-identity">
                <h1>{{ name }}</h1>
            </div>
        </div>
        <div class="hero-photo">
            <div class="photo-block">
                <img class="avatar" src="/static/img/AwalKampus.jpeg">
                <img class="avatar" src="/static/img/BurhanAseli.jpeg">
                <img class="avatar" src="/static/img/KenazGanteng.jpg">
                <img class="avatar" src="/static/img/PandaLBM.jpeg">
                <img class="avatar" src="/static/img/Racing.jpeg">
            </div>
            <div aria-hidden class="photo-block">
                <img class="avatar" src="/static/img/AwalKampus.jpeg">
                <img class="avatar" src="/static/img/BurhanAseli.jpeg">
                <img class="avatar" src="/static/img/KenazGanteng.jpg">
                <img class="avatar" src="/static/img/PandaLBM.jpeg">
                <img class="avatar" src="/static/img/Racing.jpeg">
            </div>
        </div>
        <hr class="line">
        <div class="hero-details">
            <p class="GetToKnowMe"><b>Get to know me!</b></p>
            <p class="bio">{{ bio }}</p>
            <dl class="meta-list">
                <div class="meta-row">
                    <dt><b>NPM</b></dt>
                    <dd>"{{ npm }}"</dd>
                </div>
                <div class="meta-row">
                    <dt><b>Program</b></dt>
                    <dd>"{{ study_program }}"</dd>
                </div>
            </dl>
            <div class="self-capability"><b>Education</b></div>
            <div class="self-capability-desc color1">
                <a href="{% url 'main:show_education' %}">Click_Here_to_See_my_Education(2)</a>
            </div>
            <div class="self-capability"><b>Skill</b></div>
            <div class="self-capability-desc color2">
                <a href="{% url 'main:show_skill' %}">Click_Here_to_See_my_Skill(5)</a>
            </div>
            <div class="self-capability"><b>Experience</b></div>
            <div class="self-capability-desc color3">
                <a href="{% url 'main:show_experience' %}">Click_Here_to_See_my_Experience(7)</a>
            </div>
            <div class="self-capability"><b>Projects</b></div>
            <div class="self-capability-desc color4">
                <a href="{% url 'main:show_projects' %}">Click_Here_to_See_my_Projects(2)</a>
            </div>
        </div>
    </section>
</main>

{% endblock content %}