<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Kenaz Shidqi Baswara - Portfolio</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
        <header class="site-header">
            <div class="container top-identity">
                <a href="#profile" class="brand">Kenaz Shidqi Baswara</a>
                <p class="hero-kicker"><b>Ilmu Komputer KKI &middot; Universitas Indonesia</b></p>
                <nav>
                    <a href="#profile">Profile</a>
                </nav>
            </div>
        </header>
        
        <main>
            <section class="hero">
                <div class="white-line">
                    <div class="hero-identity">
                        <h1>Kenaz Shidqi Baswara</h1>
                    </div>
                </div>
                <div class="hero-photo">
                    <div class="photo-block">
                        <img class="avatar" src="/static/img/KenazGanteng.jpg" alt="Photo of Kenaz Kodok">
                        <img class="avatar" src="/static/img/HockeyDarat.jpeg" alt="Photo of Hockey Darat">
                        <img class="avatar" src="/static/img/PelariKalcer.jpeg" alt="Photo of Pelari Kalcer">
                        <img class="avatar" src="/static/img/AwalKampus.jpeg" alt="Photo of Permulaan">
                        <img class="avatar" src="/static/img/Batammm.jpeg" alt="Photo of Batam">
                        <img class="avatar" src="/static/img/BurhanAseli.jpeg" alt="Photo of Burhan">
                    </div>
                    <div aria-hidden class="photo-block">
                        <img class="avatar" src="/static/img/KenazGanteng.jpg" alt="Photo of Kenaz Kodok">
                        <img class="avatar" src="/static/img/HockeyDarat.jpeg" alt="Photo of Hockey Darat">
                        <img class="avatar" src="/static/img/PelariKalcer.jpeg" alt="Photo of Pelari Kalcer">
                        <img class="avatar" src="/static/img/AwalKampus.jpeg" alt="Photo of Permulaan">
                        <img class="avatar" src="/static/img/Batammm.jpeg" alt="Photo of Batam">
                        <img class="avatar" src="/static/img/BurhanAseli.jpeg" alt="Photo of Burhan">
                    </div>
                </div>
                <hr class="line">
                <div class="hero-details">
                    <p class="GetToKnowMe"><b>Get to know me!</b></p>
                    <p class="bio">"I'm Kenaz, a computer science student. Currently this is my second year studying in Fasilkom UI. For past months, 
                        I have been a mentor in faculty event and join programming competition. I find new friends in every experience I join."</p>
                    <dl class="meta-list">
                        <div class="meta-row">
                            <dt><b>NPM</b></dt>
                            <dd>"2506558144"</dd>
                        </div>
                        <div class="meta-row">
                            <dt><b>Program</b></dt>
                            <dd>"S1 Ilmu Komputer KKI"</dd>
                        </div>
                    </dl>
                    <div class="self-capability"><b>Education</b></div>
                        <div class="self-capability-desc color1">
                            I graduated from Labschool Jakarta Highschool in 2025. Currently I am a Undergraduate Computer Science in University of Indonesia.
                        </div>
                    <div class="hero-photo">
                        <div class="photo-block">
                            <img class="avatar-child" src="/static/img/StulapBali.jpeg" alt="Photo of Stulap Bali">
                            <img class="avatar-child" src="/static/img/Wisuda.jpeg" alt="Photo of Wisuda">
                            <img class="avatar-child" src="/static/img/PromNight.jpeg" alt="Photo of Prom Night">
                            <img class="avatar-child" src="/static/img/CooKKIng25.jpg" alt="Photo of CooKKIng25">
                            <img class="avatar-child" src="/static/img/DDP2.jpeg" alt="Photo of DDP2">
                        </div>
                        <div aria-hidden class="photo-block">
                            <img class="avatar-child" src="/static/img/StulapBali.jpeg" alt="Photo of Stulap Bali">
                            <img class="avatar-child" src="/static/img/Wisuda.jpeg" alt="Photo of Wisuda">
                            <img class="avatar-child" src="/static/img/PromNight.jpeg" alt="Photo of Prom Night">
                            <img class="avatar-child" src="/static/img/CooKKIng25.jpg" alt="Photo of CooKKIng25">
                            <img class="avatar-child" src="/static/img/DDP2.jpeg" alt="Photo of DDP2">
                        </div>
                    </div>
                    <div class="self-capability"><b>Skill</b></div>
                        <div class="self-capability-desc color2">
                            I'm capable to leading and organize group. Public speaking is also one of my skill. I also can code in various programming language. All this skills help me when I was a committee.
                        </div>
                    <div class="self-capability"><b>Experience</b></div>
                        <div class="self-capability-desc color3">
                            Back in my highschool, I join many club and find many new friends. Lately I often to be an event committee.
                        </div>
                    <div class="hero-photo">
                        <div class="photo-block">
                            <img class="avatar-child" src="/static/img/Labspro.jpeg" alt="Photo of Labspro">
                            <img class="avatar-child" src="/static/img/LabsRecital.jpeg" alt="Photo of LabsRecital">
                            <img class="avatar-child" src="/static/img/Labsgreat.jpeg" alt="Photo of Labsgreat">
                            <img class="avatar-child" src="/static/img/Eldest.jpeg" alt="Photo of Eldest">
                            <img class="avatar-child" src="/static/img/Sospro.jpg" alt="Photo of Sospro">
                            <img class="avatar-child" src="/static/img/MentorPMB.jpg" alt="Photo of Mentor PMB">
                        </div>
                        <div aria-hidden class="photo-block">
                            <img class="avatar-child" src="/static/img/Labspro.jpeg" alt="Photo of Labspro">
                            <img class="avatar-child" src="/static/img/LabsRecital.jpeg" alt="Photo of LabsRecital">
                            <img class="avatar-child" src="/static/img/Labsgreat.jpeg" alt="Photo of Labsgreat">
                            <img class="avatar-child" src="/static/img/Eldest.jpeg" alt="Photo of Eldest">
                            <img class="avatar-child" src="/static/img/Sospro.jpg" alt="Photo of Sospro">
                            <img class="avatar-child" src="/static/img/MentorPMB.jpg" alt="Photo of Mentor PMB">
                        </div>
                    </div>
                    <div class="self-capability"><b>Projects</b></div>
                        <div class="self-capability-desc color4">
                            Me and my classmate built a physical city model for sustainability campaign. This year, me and my colleague join a hackathon and create an educational game.
                        </div>
                    <div class="hero-photo">
                        <img class="Project-Photo" src="/static/img/ProjectPancasila.jpeg" alt="Photo of Project Pancasila">
                        <img class="Project-Photo" src="/static/img/Hackathon.jpeg" alt="Photo of Hackathon">
                    </div>
                </div>
                <div class="social-links">
                    <a href="https://github.com/KenazShidqi56" class="social-link"><div class="Grey-Square">GitHub</div></a>
                    <a href="https://www.linkedin.com/in/kenaz-baswara-67597437b/" class="social-link"><div class="Grey-Square">Linkedin</div></a>
                    <a href="kenaz3916@gmail.com" class="social-link"><div class="Grey-Square">Email</div></a>
                </div>
            </section>
        </main>

        <footer class="site-footer">
            <div class="container">
                <p>&copy; 2026 KenazShidqi. Fakultas Ilmu Komputer, Universitas Indonesia.</p>
            </div>
        </footer>
    </body>
</html>